*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 3px solid #fc6005;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    max-width: 80px;
    height: auto;
}

.nav-list {
    flex-grow: 1;
    text-align: center;
}

.nav-list ul {
    display: inline-flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a {
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fc6005;
    transition: background-color 0.3s, color 0.3s;
}

.nav-list li:hover a {
    background-color: #fc6005;
    color: #fff;
}

.social-media {
    display: flex;
    gap: 8px;
}

.social-media a {
    color: #fc6005;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #333;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.intro-container {
    display: flex;
    align-items: center;
    text-align: justify;
    gap: 2rem;
    margin-bottom: 2rem;
}

.main-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.intro-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
    flex: 1;
}

.vision-mission-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.vision-mission {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    text-align: left;
}

.vision-mission .vision-box,
.vision-mission .mission-box {
    flex: 1 1 45%;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.vision-mission h2 {
    color: #fc6005;
}

.vision-mission ul {
    padding-left: 1rem;
    list-style-type: disc;
    text-align: left;
}

.chairman-vision-mission {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center; 
    justify-content: center;
    text-align: center; /* Center text within the div */
}

.chairman-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chairman-image img {
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.chairman-image p {
    margin: 0;
}

.chairman-vision-mission .vision-mission {
    flex: 2;
}

footer {
    padding: 20px;
    background-color: #fc6005;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
}

.footer-left, .footer-right {
    color: #e0e0e0;
    text-align: center;
}

.footer-left {
    text-align: left;
}

.footer-left h2 {
    margin: 0.5rem 0;
    color: #e0e0e0;
    text-align: center;
}

.footer-right {
    text-align: right;
}

footer p {
    margin: 0.5rem 0;
    text-align: center;
}

footer .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .social-media a {
    color: #f8f9fa;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-media a:hover {
    color: #333;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .nav-list ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .nav-list li a {
        padding: 0.5rem 1rem;
    }

    header .social-media {
        justify-content: center;
        margin-top: 1rem;
    }

    header .social-media a {
        font-size: 18px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left, .footer-right {
        margin-bottom: 1rem;
    }

    .intro-container, .vision-mission {
        flex-direction: column;
    }

    .chairman-vision-mission {
        flex-direction: column;
        align-items: center;
    }

    .chairman-vision-mission img {
        max-width: 100%;
    }

    .chairman-image img {
        max-width: 100%;
    }
}
