body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #d49610, #c9c179); /* Gradien latar belakang */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    transition: transform 0.3s; /* Efek transisi */
}

.container:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px; /* Ukuran font lebih besar */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s; /* Efek transisi pada border */
}

input:focus {
    border-color: #d49610; /* Warna border saat fokus */
    outline: none; /* Menghilangkan outline default */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #d49610;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Ukuran font lebih besar */
    transition: background-color 0.3s; /* Efek transisi pada background */
}

button:hover {
    background-color: #d49610; /* Warna latar belakang saat hover */
}

.error {
    color: red;
    margin-bottom: 15px;
    font-size: 14px; /* Ukuran font error */
}

@media (max-width: 400px) {
    .container {
        width: 90%; /* Responsif untuk layar kecil */
    }
}
